<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<form action="/forgot/password" method="post">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter email" name="email"  required>
    <button type="submit">submit</button>
  </div>
</form>
</body>
</html>