<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<form action="/users/login" method="post">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="/forgot/password">password?</a></span>
  </div>
</form>
</body>
</html>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script type="text/javascript">
  $('.cancelbtn').on('click', function(){
    location = location;
  })
</script>