<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<form action="/reset/:token" method="post">
  <div class="container">
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <label><b>Confirm-Password</b></label>
    <input type="password" placeholder="Enter Password" name="cfm-psw" required>

    <button type="submit">submit</button>
  </div>
</form>
</body>
</html>